@use 'variables' as *;
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: $button-size;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s, background 0.3s;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
}

.btn-primary {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--on-primary);
  box-shadow: $shadow-1;

  &:hover {
    box-shadow: $shadow-4;
  }
}
.btn-secondary {
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: var(--on-primary);
  box-shadow: $shadow-1;

  &:hover {
    box-shadow: $shadow-4;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.7);
  transform: scale(0);
  animation: ripple 0.6s linear;
  pointer-events: none;
}
@keyframes ripple {
  to { transform: scale(4); opacity: 0; }
}