@use 'variables' as *;
@use 'sass:color';
.nav a,
.nav label {
  display: block;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--surface);
  box-shadow: inset 0 -1px lighten(#151515, 3%);
  transition: all .25s ease-in;
  &:focus,
  &:hover {
    color: #fff;
    background: #151515;
  }
}
.nav label {cursor: pointer;}
/**
 * Styling first level lists items
 */
.group-list a,
.group-list label {
  padding-left: 2rem;
  background:var(--surface);
  box-shadow: inset 0 -1px lighten(#252525, 7%);
  &:focus,
  &:hover {background: darken(#252525, 7%);}
}
/**
 * Styling second level list items
 */
.sub-group-list a,
.sub-group-list label {
  padding-left: 4rem;
  background: var(--surface);
  box-shadow: inset 0 -1px lighten(#353535, 7%);
  &:focus,
  &:hover {background: darken(#353535, 7%);}
}
/**
 * Styling third level list items
 */
.sub-sub-group-list a,
.sub-sub-group-list label {
  padding-left: 6rem;
  background: var(--surface);
  box-shadow: inset 0 -1px lighten(#454545, 7%);
  &:focus,
  &:hover {background: darken(#454545, 7%);}
}
/**
 * Hide nested lists
 */
.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}
 
.nav__list input[type=checkbox]:checked + label + ul {
	/* reset the height when checkbox is checked */
  max-height: 1000px;
}
/**
 * Rotating chevron icon
 */
label > span {
  float: right;
  transition: transform .65s ease;
}
.nav__list input[type=checkbox]:checked + label > span {transform: rotate(90deg);}
