<div>
    <ng-container *ngIf="isDelete; else editForm">
        <p>Are you sure you want to delete Role "{{ form.roleName }}"?</p>
        <div class="modal-actions">
            <button type="button" class="btn btn-primary mr-2" (click)="confirmDelete()">Yes, Delete</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </ng-container>
    <ng-template #editForm>
        <div>
            <form (ngSubmit)="save()" #f="ngForm">
                <div class="form-group">
                    <label for="roleName">Role Name</label>
                    <input type="text" id="roleName" [(ngModel)]="role.roleName" name="roleName" required />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" [(ngModel)]="role.roleCode" name="description" required />
                </div>
                <p class="subheading">Privileges</p>
                <ul class="pr-grid">
                    <li *ngFor="let priv of privileges">
                        <div class="form-check">
                            <input id="priv-{{ priv._id }}" type="checkbox" [value]="priv._id"
                                (change)="togglePrivilege($event, priv)"
                                [checked]="role.privileges?.includes(priv._id)" />
                            <label for="priv-{{ priv._id }}">

                                {{ priv.name }} 
                            </label>

                        </div>

                    </li>
                </ul>
                <div class="modal-actions form-actions d-flex justify-end">
                    <button type="submit" class="btn btn-primary">{{ isEdit ? 'Update' : 'Create' }}</button>
                    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>


        </div>
    </ng-template>
</div>